body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap {
    padding: 16px;
}
h1{
    background-color: rgb(241, 72, 30);
}
a {
    background-color: rgb(228, 126, 58);
}
.d1, .a1 {
    display: inline-block;
    border: 2px solid ;
    margin: 12px;;
    padding: 10px;
    background-color: rgb(236, 209, 158);
    width: 180px;
    height: 80px;
    margin-top: 80py;


}







